* {
  margin: 0;
  padding: 0;
  border: none;
}

html { font-size: 62.5%; }

body {
  margin: 0;
  font-family: open sans, HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.6;
  color: #222;
}

h1 {
  font-family: Montserrat, helvetica, arial, sans-serif;
  font-size: 6rem;
  font-weight: 700;
  line-height: 6.5rem;
  text-align: center;
  color: white;
}
h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.4rem;
  padding-top: 3rem;
  padding-bottom: .5rem;
}
h4 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.6rem;
  padding: 1.4rem 0 1rem;
}
p {
  font-size: 1.6rem;
  padding-bottom: 1.3rem;
}
a { color: #125CCA; }
a:hover { color: #3BA3BB; }

header {
  position: relative;
  width: 100%;
  padding: 40px 0 65px;
  background-color: #c45757;
}

.toc li {
  display: inline-block;
  position: relative;
  width: 32%;
  box-sizing: border-box;
  background-color: #DDE8EF;
  list-style-type: none;
  text-align: center;
}
.toc li:not(:first-of-type) {
  margin-left: 2%;
}
.toc li:hover { background-color: #B3E1EF; }
.toc a {
  display: inline-block;
  width: 100%;
  padding: 2px 0 3px;
  font-weight: 600;
  text-decoration: none;
  color: #464646;
}

section {
  position: relative;
  margin: 20px 0;
  padding: 0 20px;
}
section > * {
  max-width: 640px;
  margin: 0 auto;
}

.illustrated {  }
img {
  display: block;
  margin: 0 auto;
  padding: 2rem 0;
}
.illustration {
  max-height: 350px;
  max-width: 100%;
}

#intro {
  padding-top: 65px;
}
#intro p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  padding-top: 2rem;
}

.logo {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%);
       ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  width: 200px;
  height: 200px;

  background-image: url("logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/*table style from bootstrap*/
table {
  width: 100%;
  margin-bottom: 20px;
  padding: 1rem 0;
}
table th,
table td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-bottom: 1px solid #ddd;
}
table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table-condensed th,
.table-condensed td {
  padding: 5px;
}

.form-inline {
  padding: 1.5rem 0rem 2rem;
  background-color: #DDE8EF;
}

.form-container {
  margin-left: 20px;
}

.v-space {
  height: 60px;
}

label {
  display: block;
  font-size: small;
}
input, button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: open sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 1rem;
}
input {
  padding: 6px 12px;
  width: 70%;
}

input#comprehensive {
    -webkit-appearance: checkbox;
    width: initial;
    padding: 10px;
    margin-right: 5px;
    vertical-align: bottom;
    position: relative;
    top: -3px;
}

button {
  color: white;
  background-color: #F1592A;
  border-radius: 6px;
  padding: 6px 12px;
}
button:hover {
  outline: none;
  background-color: #cc3000;
}
button:active {
  box-shadow: inset 0 1px 1px 1px rgba(0,0,0,.4);
}
button:focus {
  outline: none;
}

.question-list {
  margin-bottom: 2rem;
}
.question-list li {
  margin-left: 1.8rem;
}

footer {
  border-top: 1px solid #ccc;
  padding: 1rem 3rem;
}
.text-muted {
  font-size: 13px;
  color: #888;
}

#fountainG{
	position:relative;
	width:234px;
	height:28px;
	margin:auto;
}

.fountainG{
	position:absolute;
	top:0;
	background-color:rgb(0,0,0);
	width:28px;
	height:28px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:19px;
		-o-border-radius:19px;
		-ms-border-radius:19px;
		-webkit-border-radius:19px;
		-moz-border-radius:19px;
}

#fountainG_1{
	left:0;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#fountainG_2{
	left:29px;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#fountainG_3{
	left:58px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#fountainG_4{
	left:88px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#fountainG_5{
	left:117px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#fountainG_6{
	left:146px;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#fountainG_7{
	left:175px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}

#fountainG_8{
	left:205px;
	animation-delay:1.64s;
		-o-animation-delay:1.64s;
		-ms-animation-delay:1.64s;
		-webkit-animation-delay:1.64s;
		-moz-animation-delay:1.64s;
}



@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-o-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

a.noul {
    text-decoration: none;
}

.muted {
  color: #666;
}

.oracle {
    padding: 7px;
    border-radius: 7px;
    background-color: #E8E8E8;
    width: 100%;
    margin: 4px 0;
    font-size: 14px;
}

.reason {
  display: block;
  font-size: small;
  text-align: center;
}

.reason-danger {
  color: #D90B00;
}

.reason-safe {
    color: #008606;
}
